body 
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
 
.Calculator 
{
    width: 400px;
    height: 400px;
    position: relative;
    margin: 25px;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    font-family: Verdana;
    font-size: large;
}
.Button 
{
    background: rgb(25, 149, 221);
    display: flex;
    border: 1px solid rgba(0,0,0,0.05);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 24px;
    color: white;
    height: 20%;
    min-width: 25%;
}
.Button[data-size="2"] 
{
    height: 40%;
}
 
.Button[data-value="null"] 
{
    pointer-events: none;
}
 
.Button:hover {
    background: #10e93ffd;
    cursor: default;
}
  
.Display 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #e93e93;
    height: 25%;
    color: white;
    font-size: 40px;
}
.Keypad
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%;
}
